<footer class="container-fluid">

    <p class="text-xs-center">
        &copy; @DateTime.Now.Year - Company Name
        <a href="tel:715.205.1522" class="fa fa-phone"> 555-555-5555</a>
        <a href="http://www.puresyntactics.com" target="_blank">Created by PureSyntactics</a>
    </p>

</footer>