@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC 5 - Bootstrap 4 Starter</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-xs-12">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img class="img-fluid card-img-top" src="/Content/img/500_389_placeholder.jpg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Card Header!</h4>
                Some quick example text to build on the card title and make up the bulk of the card's content.
                <a href="http://v4-alpha.getbootstrap.com/components/card/" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="img-fluid card-img-top" src="/Content/img/500_389_placeholder.jpg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Card Header!</h4>
                Some quick example text to build on the card title and make up the bulk of the card's content.
                <a href="http://v4-alpha.getbootstrap.com/components/card/" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="img-fluid card-img-top" src="/Content/img/500_389_placeholder.jpg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Card Header!</h4>
                Some quick example text to build on the card title and make up the bulk of the card's content.
                <a href="http://v4-alpha.getbootstrap.com/components/card/" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
</div>
